<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sports Squares</title>
    {{!-- <link rel="stylesheet" type="text/css" href="/css/jass.css"> --}}
    {{!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"> --}}
</head>

<div class="card mx-auto" style="max-width: 730px;">
    <div class="card-header has-background-dark py-2">

        <h4 class="mb-0 has-text-centered has-text-white">Your Squares Game</h4>
        <div>
        <h4>Choose A Game:</h4>
        <div class="gameChoices" style="padding: 0;display: flex; flex-wrap: wrap; gap: 5%;">

        </div>
        </div>
    
    <div class="gameInfo" style="display: flex; justify-content: center; gap: 20%;">
      <div>
         <h5 class="homeTeam"></h5>
         <p class="homeScore"></p>
      </div>
      <div>
        <h5 class="quarter"></h5>
      </div>
      <div>
         <h5 class="awayTeam"></h5>
         <p class="awayScore"></p>
      </div>
    </div>
    <div class="card-content has-background-black">
        <div class="columns is-gapless is-mobile">
            <div class="column is-half" style="padding-right: 5px;">
                <!-- Content for left half -->
            </div>
            <div class="column is-half" style="padding-left: 5px;">
                <!-- Content for right half -->
            </div>
        </div>
    </div>
</div>

<div class="card">
    <table class="game-board" id="squaresTable">
    </table>
</div>
<div class="card">
    <title>Socket.IO chat</title>
    <style>
      body { margin: 0; padding-bottom: 3rem; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; }

      #form { background: rgba(0, 0, 0, 0.15); padding: 0.25rem; position: fixed; bottom: 0; left: 0; right: 0; display: flex; height: 3rem; box-sizing: border-box; backdrop-filter: blur(10px); }
      #input { border: none; padding: 0 1rem; flex-grow: 1; border-radius: 2rem; margin: 0.25rem; }
      #input:focus { outline: none; }
      #form > button { background: #333; border: none; padding: 0 1rem; margin: 0.25rem; border-radius: 3px; outline: none; color: #fff; }

      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages > li { padding: 0.5rem 1rem; }
      #messages > li:nth-child(odd) { background: #efefef; }
    </style>
  </head>
  <body>
    <ul id="messages"></ul>
    <form id="form" action="">
      <input id="input" autocomplete="off" /><button>Send</button>
    </form>
</div>

<script src="/js/game.js"></script>
