<div class="card mx-auto" style="max-width: 730px;">
    <div class="card-header has-background-dark py-2">
        <h2 class="mb-0 has-text-centered has-text-white">Your Squares Game</h4>
    </header>
    <div class="gameInfo" style="display: flex; justify-content: center; gap: 20%;">
      <div>
         <h5 class="homeTeam"></h5>
         <p class="homeScore"></p>
      </div>
      <div>
        <h5 class="quarter"></h5>
      </div>
      <div>
         <h5 class="awayTeam"></h5>
         <p class="awayScore"></p>
      </div>
    </div>
    <div class="card-content has-background-black">
        <div class="columns is-gapless is-mobile">
            <div class="column is-half" style="padding-right: 5px;">
                <!-- Content for left half -->
            </div>
            <div class="column is-half" style="padding-left: 5px;">
                <!-- Content for right half -->
            </div>
        </div>
    </div>
</div>

<div class="card">
    <table class="game-board" id="squaresTable">
    </table>
</div>

<script src="/js/game.js"></script>
