<div>
    <h1>Select Your Game</h1>
    <div>
        <h2>Football</h2>
        <a href="/game">
        <img src="https://i.imgur.com/qYPhHZa.png" alt="football" id="footballBtn" class="btn" width="300" height="225">
        </a>
        <h2>Basketball</h2>
        <a href="/game">
            <img src="https://i.imgur.com/chvsRnE.png" alt="basketball" id="basketballBtn" class="btn" width="300" height="300">
        </a>

    </div>
</div>
