<div>
    <h1>Select Your Game</h1>
    <div>
        <h3>Football</h3>
        <a href="">
        <button id="footballBtn" class="btn" ></button>
        </a>
        <h3>Basketball</h3>
        <a href="">
            <button id="basketballBtn" class="btn"></button>
        </a>

    </div>
</div>