body {
    background-color: #5de1f060; /* Set your desired background color here */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    min-height: 100vh; /* Ensure the entire viewport height is covered */
}

.wrapper {
    text-align: center; /* Center content inside the wrapper */
    padding: 20px;
}

img {
    display: block;
    margin: 0 auto; /* Center the logo horizontally */
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(11, 1fr); /* 10 columns for digits 0-9 */
    grid-template-rows: repeat(11, 1fr); /* 10 rows for digits 0-9 */
    gap: 5px; /* Gap between grid items */
  }
  
  .row {
    display: flex;
  }

  td .x-box {
    display: none;
  }
  
  .question-box {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: rgb(238, 3, 39);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
  }
  
  .open-box {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    cursor: pointer;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    background-color: azure;
  }
  
 /* CSS styles for the game board layout */
#squaresTable {
    width: 100%;
    border-collapse: collapse; /* Ensure consistent border spacing */
  }
  
  #squaresTable td {
    padding: 10px; /* Adjust padding as needed for spacing */
    border: 1px solid black; /* Add borders to cells for visual clarity */
    text-align: center; /* Center-align content in cells */
  }
  
  