body {
  background-image: linear-gradient(to right bottom, #fbc737, #f4c93d, #eccb44, #e6cd4a, #dfcf51, #dfd25c, #e0d667, #e0d972, #e7df83, #ede494, #f3eaa4, #f9f0b5);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    min-height: 100vh; /* Ensure the entire viewport height is covered */
}

.wrapper {
    text-align: center; /* Center content inside the wrapper */
    padding: 20px;
}

img {
    display: block;
    margin: 0 auto; /* Center the logo horizontally */
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.changeUsernameBtn {
  background-color: rgb(238, 3, 39);
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* login/signup styling */
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.login-card {
  margin-right: 10px;
}

.page-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
  padding: 10px;
  
}

.form-group {
  margin-bottom: 20px;
}

.label {
  display: block;
  margin-bottom: 5px;
}

.form-input {
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.btn-primary {
  background-color: rgb(238, 3, 39);
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #980202;
}

/* Game styling */
.container {
  display: flex;
}

.topLeftBtn {
  background-color: rgb(238, 3, 39);
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.topRightBtn {
  background-color: rgb(238, 3, 39);
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.game-board {
  /* flex-grow: 1; Occupy remaining space */
  display: grid;
  grid-template-columns: repeat(11, 1fr); /* 10 columns for digits 0-9 */
  grid-template-rows: repeat(11, 1fr); /* 10 rows for digits 0-9 */
  gap: 5px; /* Gap between grid items */
  margin: 0 auto; /* Center horizontally */
  width: 80%; /* Set the width as needed */
}



.game-board {
    display: grid;
    grid-template-columns: repeat(11, 1fr); /* 10 columns for digits 0-9 */
    grid-template-rows: repeat(11, 1fr); /* 10 rows for digits 0-9 */
    gap: 5px; /* Gap between grid items */
  }
  
  .row {
    display: flex;
  }

  td .x-box {
    display: none;
  }
  
  .question-box {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: rgb(238, 3, 39);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
  }
  
  .open-box {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    cursor: pointer;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    background-color: azure;
  }

  .selected {
    background-color: rgba(0, 0, 0, 0.771);
    color:rgb(238, 3, 39);
  }
  
 /* CSS styles for the game board layout */
#squaresTable {
    width: 100%;
    border-collapse: collapse; /* Ensure consistent border spacing */
  }
  
  #squaresTable td {
    padding: 10px; /* Adjust padding as needed for spacing */
    border: 1px solid black; /* Add borders to cells for visual clarity */
    text-align: center; /* Center-align content in cells */
  }


  .changeInput {
    font-size: 13pt;
    margin-top: 2%;
    border: solid red 2px;
    border-radius: 5px 5px 5px 5px;
  }
  
  .btn-submit {
    background-color: rgb(238, 3, 39);
    color: #fff;
    padding: 5px 13px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .hide {
    display: none;
  }

  .scoreBtnDiv {
    padding: 0;
    display: flex; 
    flex-wrap: wrap; 
    gap: 5%; 
    justify-content: center;
  }